.loginTitle {
    cursor: default;
    font-family: Dosis,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  
  #loginPassword {
    border: 0.1rem solid #d3d3d3;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    padding-bottom: 0.8rem;
    padding-left: 0.6rem;
    padding-top: 0.8rem;
  }
  
  
  #Loginid {
    border: 0.1rem solid #d3d3d3;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
    padding-bottom: 0.8rem;
    padding-left: 0.6rem;
    padding-top: 0.8rem;
  }
  
  
  .myDiv{
    text-align: center;
  }

  button{
    padding: 10px;
    width: 270px;
    height: 40px;
  }

  .loginContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: fit-content;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  }


